/*navigationsnavigationsnavigationsnavigations */
/*navigationsnavigationsnavigationsnavigations */
/*navigationsnavigationsnavigationsnavigations */
/*navigationsnavigationsnavigationsnavigations */

.navigations {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Dosis';
}

h1 {
    font-size: 32pt;
    /* color: #112d4e; */
}

p {
    font-size: clamp(13pt, 2vw, 18pt);
    color: rgb(54, 54, 54);
}

.highlight {
    color: #112d4e;
    font-weight: 800;
}


/*navbarnavbarnavbarnavbar */
/*navbarnavbarnavbarnavbar */
/*navbarnavbarnavbarnavbar */
/*navbarnavbarnavbarnavbar */

.list {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    font-size: 18pt;
}

h2 {
    color: #fff;
    cursor: pointer;
}

/*footerfooterfooterfooter */
/*footerfooterfooterfooter */
/*footerfooterfooterfooter */
/*footerfooterfooterfooter */

.footer {
    background-color: #112d4e;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
    /*position: sticky; */
    /*bottom: 0; */
    color: #fff;
}


/*homehomehomehome */
/*homehomehomehome */
/*homehomehomehome */
/*homehomehomehome */


.homeProj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*skillsskillsskillsskills */
/*skillsskillsskillsskills */
/*skillsskillsskillsskills */
/*skillsskillsskillsskills */




/*projectsprojectsprojectsprojects */
/*projectsprojectsprojectsprojects */
/*projectsprojectsprojectsprojects */
/*projectsprojectsprojectsprojects */

.projects {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectItem {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 45px 5px;
}

.item {
    max-width: 280px;
    background-color: azure;
    margin: 10px;
}

.title {
    background-color: #112d4e;
    color: #fff;
}

.description {
    background-color: aqua;
}

.live {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #112d4e;
    margin: 30px;
}

.live:hover {
    background-color: #112d4e;
    color: #fff;
}

.language {
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 50px;
    background-color: #112d4e;
}

/*about usabout usabout usabout us */
/*about usabout usabout usabout us */
/*about usabout usabout usabout us */
/*about usabout usabout usabout us */
/*about usabout usabout usabout us */

.pageTitle {
    width: clamp(160px, 40vw, 280px);
    font-size: clamp(18pt, 4vw, 30pt);
    padding: 10px;
    border-bottom: 4px solid #112d4e;
    border-top: 4px solid #112d4e;
    color: #112d4e;
    border-end-end-radius: 30%;
    border-end-start-radius: 30%;
    border-start-end-radius: 30%;
    border-start-start-radius: 30%;
}



/*contactcontactcontactcontact */
/*contactcontactcontactcontact */
/*contactcontactcontactcontact */
/*contactcontactcontactcontact */
/*contactcontactcontactcontact */




.contactItems {
    width: calc(100% - 80px);
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 45px 5px;
    justify-content: center;
    /* align-items: center; */
}


/* menu */
/* menu */
/* menu */
/* menu */
/* menu */

.menu-container {
    /* display: none; */
    position: relative,
}


/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
@media (min-width: 420px) {
    .contactItems {
        width: calc(100% - 80px);
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 45px 5px;
        /* align-items: center; */
    }
}


@media (min-width: 768px) {
    .projectItem {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 45px 5px;
    }

    .contactItems {
        width: calc(100% - 80px);
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 45px 5px;
        /* align-items: center; */
    }

    .menu-container {
        display: none;
        position: relative,
    }

    .list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .projectItem {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 45px 5px;
    }

    .contactItems {
        width: calc(100% - 80px);
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 45px 5px;
        /* align-items: center; */
    }
}

@media (min-width: 1440px) {
    .projectItem {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 45px 5px;
    }

    .contactItems {
        width: calc(100% - 80px);
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(6, 2fr);
        gap: 45px 5px;
        /* align-items: center; */
    }
}

@media (min-width: 2560px) {
    .projectItem {
        display: grid;
        grid-template-columns: repeat(7, 2fr);
        gap: 45px 5px;
    }

    .contactItems {
        width: calc(100% - 80px);
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(8, 2fr);
        gap: 45px 5px;
        /* align-items: center; */
    }
}