/*navigationsnavigationsnavigationsnavigations */
/*navigationsnavigationsnavigationsnavigations */
/*navigationsnavigationsnavigationsnavigations */
/*navigationsnavigationsnavigationsnavigations */

.navigations {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: 'Dosis';
}

h1 {
    font-size: 32pt;
    color: #112d4e;
}

p {
    font-size: 18pt;
    color: rgb(54, 54, 54);
}

.highlight {
    color: #112d4e;
    font-weight: 800;
}


/*navbarnavbarnavbarnavbar */
/*navbarnavbarnavbarnavbar */
/*navbarnavbarnavbarnavbar */
/*navbarnavbarnavbarnavbar */

.appbar {
    background-color: #112d4e;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}


/*footerfooterfooterfooter */
/*footerfooterfooterfooter */
/*footerfooterfooterfooter */
/*footerfooterfooterfooter */

.footer {
    background-color: #112d4e;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
    /*position: sticky; */
    /*bottom: 0; */
    color: #fff;
}


/*homehomehomehome */
/*homehomehomehome */
/*homehomehomehome */
/*homehomehomehome */


.home {}


/*skillsskillsskillsskills */
/*skillsskillsskillsskills */
/*skillsskillsskillsskills */
/*skillsskillsskillsskills */

.skills {}


/*projectsprojectsprojectsprojects */
/*projectsprojectsprojectsprojects */
/*projectsprojectsprojectsprojects */
/*projectsprojectsprojectsprojects */

.projects {
    padding: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectItem {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 45px 5px;
}

.item {
    max-width: 280px;
    background-color: azure;
    margin: 10px;
}

.title {
    background-color: #112d4e;
    color: #fff;
}

.description{
    background-color: aqua;
}

.live{
    padding: 10px;
    background-color: transparent;
    border: 1px solid #112d4e;
    margin: 30px;
}
.live:hover{
    background-color: #112d4e;
    color: #fff;
}

.language {
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    border-radius: 50px;
    background-color: #112d4e;
}

/*about usabout usabout usabout us */
/*about usabout usabout usabout us */
/*about usabout usabout usabout us */
/*about usabout usabout usabout us */
/*about usabout usabout usabout us */

.about {
    padding: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutPara {
    max-width: 800px;
    text-align: justify;
    font-weight: 600;
}

/*contactcontactcontactcontact */
/*contactcontactcontactcontact */
/*contactcontactcontactcontact */
/*contactcontactcontactcontact */
/*contactcontactcontactcontact */
h2 {
    color: #fff;
    cursor: pointer;
}

.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
}

.list>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
}



.contact {
    width: calc(100%-200px);
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #112d4e22;
    /*border: 2px solid #112d4e; */
    box-shadow: 0 1px 10px 1px #112d4e;
}

.card {
    border: 2px solid #112d4e;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 1s, height 1s, transform 1s;
    transition-timing-function: ease;
    border-radius: 50%;
}


.card:hover {
    border: 2px solid #112d4e;
    background-color: #112d4e99;
    /*height: 120px; */

    .anchor {
        color: #112d4e;
        padding: 8px;
        background-color: #fff;
        /*border: 3px solid #fff; */
    }

    .anchor:hover {
        border: 3px solid #112d4e;
        background-color: #112d4e;
        color: #fff;
    }


}

.anchor {
    padding: 0;
    border: 3px solid transparent;
    transition: padding 1s, height 1s, transform 1s;
    transition-timing-function: ease;
    color: transparent;
}