@import url('../../styles/global.css');


.tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 20px;
    /* text-align: right; */
    border-radius: 10px;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
    background: #112d4e;
    border-radius: 10px 35px;
    padding: 20px;
    border: 1px solid #112d4e;
}

.profileImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #004d7a;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    resize: both;
}

.tooltip-container:hover .tooltip {
    top: -180px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.layer {
    width: 80px;
    height: 80px;
    transition: transform .3s;
}

.icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
}

.layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: all 0.3s;
}

.layer span,
.text {
    color: #112d4e;
    border-color: #e6683c;
}


.icon:hover.layer span {
    box-shadow: -1px 1px 3px #e6683c;
}

.icon .nameText {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icon:hover .nameText {
    bottom: -55px;
    opacity: 1;
}


.icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
}

.icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}

.icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
}

.icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
}

.icon:hover .layer span:nth-child(6) {
    opacity: 1;
    transform: translate(25px, -25px);
}

.icon:hover .layer span:nth-child(7) {
    opacity: 1;
    transform: translate(30px, -30px);
}

.icon:hover .layer span:nth-child(8) {
    opacity: 1;
    transform: translate(35px, -35px);
}

.icon:hover .layer span:nth-child(9) {
    opacity: 1;
    transform: translate(40px, -40px);
}

.nameText {
    font-size: 18pt;
    font-weight: 900;
    color: #112d4e;
}

/* .instagramSVG */
/* .instagramSVG */
/* .instagramSVG */
/* .instagramSVG */
/* .instagramSVG */
/* .instagramSVG */
/* .instagramSVG */


.instagramSVG {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); */
}


/* .githubSVG */
/* .githubSVG */
/* .githubSVG */
/* .githubSVG */
/* .githubSVG */
/* .githubSVG */
/* .githubSVG */

.githubSVG {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2b2f;
    /* background: -webkit-linear-gradient(45deg,
            #181717 0%,
            #2a2236 25%,
            #2d9bf0 50%,
            #2188ff 75%,
            #125c90 100%);
    background: linear-gradient(45deg,
            #181717 0%,
            #2a2236 25%,
            #2d9bf0 50%,
            #2188ff 75%,
            #125c90 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181717', endColorstr='#181717', GradientType=1); */
}

/* .facebookSVG */
/* .facebookSVG */
/* .facebookSVG */
/* .facebookSVG */
/* .facebookSVG */
/* .facebookSVG */
/* .facebookSVG */
/* .facebookSVG */

.facebookSVG {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #1877f2 0%,
            #1877f2 25%,
            #3b5998 50%,
            #3b5998 75%,
            #1877f2 100%);
    background: linear-gradient(45deg,
            #1877f2 0%,
            #1877f2 25%,
            #3b5998 50%,
            #3b5998 75%,
            #1877f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1877f2', endColorstr='#1877f2', GradientType=1);
}


/* .discordSVG */
/* .discordSVG */
/* .discordSVG */
/* .discordSVG */
/* .discordSVG */
/* .discordSVG */


.discordSVG {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #7289da 0%,
            #7289da 25%,
            #6678b1 50%,
            #5b6eae 75%,
            #4e5d94 100%);
    background: linear-gradient(45deg,
            #7289da 0%,
            #7289da 25%,
            #6678b1 50%,
            #5b6eae 75%,
            #4e5d94 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7289da', endColorstr='#4e5d94', GradientType=1);
}


/* .linkedinSVG */
/* .linkedinSVG */
/* .linkedinSVG */
/* .linkedinSVG */
/* .linkedinSVG */
/* .linkedinSVG */
/* .linkedinSVG */


.linkedinSVG {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #0077b5 0%,
            #0077b5 25%,
            #004d7a 50%,
            #004d7a 75%,
            #0077b5 100%);
    background: linear-gradient(45deg,
            #0077b5 0%,
            #0077b5 25%,
            #004d7a 50%,
            #004d7a 75%,
            #0077b5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077b5', endColorstr='#0077b5', GradientType=1);
}


/* gmail */
/* gmail */
/* gmail */
/* gmail */
/* gmail */
/* gmail */


.gmailSVG {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #d93025 0%,
            #d93025 25%,
            #ea4335 50%,
            #ea4335 75%,
            #d93025 100%);
    background: linear-gradient(45deg,
            #d93025 0%,
            #d93025 25%,
            #ea4335 50%,
            #ea4335 75%,
            #d93025 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d93025', endColorstr='#d93025', GradientType=1);
}


/* twitter */
/* twitter */
/* twitter */
/* twitter */
/* twitter */

.twitterSVG {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #1da1f2 0%,
            #1da1f2 25%,
            #1893f0 50%,
            #1572e8 75%,
            #065dab 100%);
    background: linear-gradient(45deg,
            #1da1f2 0%,
            #1da1f2 25%,
            #1893f0 50%,
            #1572e8 75%,
            #065dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1da1f2', endColorstr='#065dab', GradientType=1);
}


/* whatsapp */
/* whatsapp */
/* whatsapp */
/* whatsapp */
/* whatsapp */


.whatsappSVG {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(45deg,
            #25d366 0%,
            #25d366 25%,
            #4ac959 50%,
            #4ac959 75%,
            #25d366 100%);
    background: linear-gradient(45deg,
            #25d366 0%,
            #25d366 25%,
            #4ac959 50%,
            #4ac959 75%,
            #25d366 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25d366', endColorstr='#25d366', GradientType=1);
}





.user {
    display: flex;
    gap: 20px;
}

/* .img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #e6683c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
} */

.name {
    font-size: 17px;
    font-weight: 700;
    color: #e6683c;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
}

.followers {
    color: #ccc;
    padding-top: 5px;
}