body {
  background-color: #112d4e33;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #112d4e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #112d4e;
}
